<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>404 Not found</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
<script type="text/javascript" src="/js/datatables.min.js"></script>
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container text-center">
		<h2>Halaman tidak ditemukan</h2>
	</div>
	
</body>
</html>