<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Tambah Keluarga</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
<script type="text/javascript" src="/js/datatables.min.js"></script>
<style>
	.form-all {
		margin: 0 auto;
	}
</style>
</head>

<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container-fluid">
		<h2 class="page-header text-center">
			Tambah Keluarga
			</h2>
			<div class="row">
				<div class="form-all col-lg-6">
					<form action="/keluarga/tambah" method="post">
						<div class="form-group">
							<label for="alamat">Alamat</label> <input class="form-control" type="text"
								name="alamat" />
						</div>
						<div class="form-group">
							<label for="RT">RT</label> <input class="form-control" type="text" name="RT" />
						</div>
						<div class="form-group">
							<label for="RW">RW</label> <input class="form-control" type="text" name="RW" />
						</div>
						<div class="form-group">
							<label for="id_kelurahan">Kelurahan</label>
							<select name="id_kelurahan" class="form-control">
								<option th:each="kelurahan,iterationStatus: ${kels}"
									th:value="${kelurahan.id}" th:text="${kelurahan.nama_kelurahan}"></option>
							</select>
						</div>
						<div class="form-group">
							<label for="id_kecamatan">Kecamatan</label> <select name="id_kecamatan" class="form-control">
								<option th:each="kecs,iterationStatus: ${kecs}"
									th:value="${kecs.id}" th:text="${kecs.nama_kecamatan}"></option>
							</select>
						</div>
						<div class="form-group">
							<label for="id_kota">Kota</label><select name="id_kota" class="form-control">
								<option th:each="kots,iterationStatus: ${kots}"
									th:value="${kots.id}" th:text="${kots.nama_kota}"></option>
							</select>
						</div>

						<div>
							<button class="btn btn-primary" type="submit" name="action" value="save">Simpan</button>
						</div>
					</form>
				</div>
			</div>
	</div>

</body>

</html>

