<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>NOT FOUND KELUARGA</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<style>
	.class-center {
		margin: 0 auto;
	}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/datatables.min.css" />
<script type="text/javascript" src="/js/datatables.min.js"></script>
</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	<div class="container">
		<div class="row">
			<div class="class-center col-lg-10">
				<h2 th:text="'Keluarga dengan NKK ' + ${nomor_kk} + ' tidak ditemukan'"></h2>
			</div>
		</div>
	</div>
</body>
</html>